@import url('engine/vendor/@ckeditor/ckeditor4/contents.css?v=0');

html {
  background: #fbfbfb;
  color: #000;
  font-family: Verdana, Geneva, 'Bitstream Vera Sans', sans-serif;
  font-size: 13px;
  height: auto !important;
  line-height: 1.4;
  margin: 0;
  min-height: 100% !important;
  padding: 0;
}

html:focus-within {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
}

body {
  background: none;
  color: inherit;
  font: inherit;
  margin: 1.5em;
  padding: 0;
}

abbr {
  border: 0;
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

b, strong {
  font-weight: bolder;
}

em, i {
  font-style: italic;
}

blockquote {
  border: 0;
  font: inherit;
  font-size: 120%;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.cke_contents_ltr blockquote {
  border-left-width: 0;
  padding-left: 1em;
}

.cke_contents_rtl blockquote {
  border-right-width: 0;
  padding-right: 1em;
}

a {
  color: #00f;
  text-decoration: underline;
}

a > img {
  border: 1px solid #00f;
}

dl, ol, ul {
  padding: 0 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 100%;
}

hr {
  background: none;
  border: 0;
  border-top: 1px dotted #999;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

table {
  border: 0;
  border-collapse: separate;
}

table td,
table th {
  border: 1px dotted #999;
  padding: .5em 1em;
  text-align: inherit;
  vertical-align:top;
}

table th {
  font-weight: bolder;
}

.align-left {
  float: left;
  margin-right: 1em;
}

.align-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  float: right;
  margin-left: 1em;
}

code {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', 'Nimbus Mono L', monospace;
  font-size: 100%;
}

pre {
  -moz-tab-size: 4;
  font: inherit;
  tab-size: 4;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  background: #000;
  color: #fff;
  display: block;
  padding: 0.5em 0.75em;
}

pre .hljs {
  padding: 0.5em 0.75em;
}

figure {
  display: block;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

figure > figcaption {
  display: block;
  text-align: center;
}